docutils==0.9.1
Flask-Bootstrap==2.1.0-1
Flask-RQ==0.1
Flask-Script==0.5.0
Flask-SQLAlchemy==0.16
Flask==0.9
ipython==0.13
Jinja2==2.6
Logbook==0.3
logilab-astng==0.24.0
logilab-common==0.58.1
pip-tools==0.2
py==1.4.9
python-dateutil==2.1
pytz==2012f
redis==2.6.2
rq-dashboard==0.3
rq==0.3.2
simplejson==2.6.2
six==1.2.0
SQLAlchemy==0.7.8
times==0.5
urwid==1.0.2
virtualenv==1.8.2
Werkzeug==0.8.3
yolk==0.4.3
